name: Run pepembed to upload new PEP embeddings

# https://crontab.guru/#0_2_*_*_1
# Every Monday at 2:00AM
on:
  schedule:
  - cron: "0 2 * * 1"
    branches:
      - master
  workflow_dispatch:


jobs:
  update_stats:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install uv
      run: pip install uv

    - name: Install pepembed
      run: |
        uv pip install torch --index-url https://download.pytorch.org/whl/cpu --system
        uv pip install . --system
    
    - name: Run
      run: |
        pepembed
      env:
        POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
        POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
        POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
        POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
        QDRANT_HOST: ${{ secrets.QDRANT_HOST }}
        QDRANT_API_KEY: ${{ secrets.QDRANT_API_KEY }}
        HF_TOKEN: ${{ secrets.HF_TOKEN }}

    - name: Commit report
      run: |
        git config --global user.name 'Oleksandr Khoroshevskyi'
        git config --global user.email 'khoroshevskyi@users.noreply.github.com'
        git add -A
        if git diff --cached --quiet; then
          echo "No changes to commit"
        else
          git commit -m "Automated update of PEP embeddings"
          git push
        fi
